@use "sass:color";

@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.pagination {
  display: flex;
  padding: 0 12px;
  margin-top: 60px;
  justify-content: space-between;

  .previous {
    text-align: left;

    .previousLink {
      color: var(--color-secondary);
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: var(--color-primary);
      }

      &.disable {
        color: $color-dark-cloud;
        pointer-events: none;
      }
    }
  }
  
 
  .next {
    text-align: right;

    .nextLink {
      color: var(--color-secondary);
      font-size: 26px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: var(--color-primary);
      }

      &.disable {
        color: $color-dark-cloud;
        pointer-events: none;
      }
    }
  }

  .arrow {
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    background-color: $color-gray-7;

    &:hover {
      background-color: $color-gray-6;
    }
  }
}
