@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.feed {
  .item {
    margin: 4px 0;
    padding: 0 20px;
  
    &:hover ,
    &:focus {
      background-color: rgba(72, 72, 74, 0.05);
      border-radius: 12px;
    }

    &:last-child {
      @include margin-bottom(0.5);
    }

    .link {
      all: unset;
      align-items: center;
      cursor: pointer;
      display: flex;
      width: 100%;
      
    
      .title_wrapper {
        align-items: center;
        display: flex;
        gap: 8px;
  
        .title {
          font-size: $typographic-base-font-size;
          font-weight: 500;
          @include line-height(1.5);
          @include margin(0, 0, 0, 0);
    
          .link {
            color: var(--color-typographic-base-font);
    
            // &:hover,
            // &:focus {
            //   border-bottom: 1px solid $color-dark;
            //   color: var(--color-typographic-base-font);
            // }
          }
        }
    
        .description {
          color: $color-gray-6;
          font-size: $typographic-small-font-size;
          font-weight: normal;
          @include line-height(1);
          @include margin(0, 0, 0, 0);
        }
      }
  
      .meta {
        width: 160px;
  
        .time {
          // color: var(--color-typographic-base-font);
          color: $color-gray-6;
          font-size: $typographic-small-font-size;
          font-weight: 600;
          text-transform: uppercase;
        }
  
        .category {
          .link {
            color: var(--color-secondary);
            font-size: $typographic-small-font-size;
            font-weight: 600;
            text-transform: uppercase;
  
            &:hover,
            &:focus {
              color: $color-blue;
            }
          }
        }
      }
  
      .more {
        color: var(--color-primary);
        font-size: $typographic-base-font-size;
  
        &:hover,
        &:focus {
          border-bottom: 1px solid $color-blue;
          color: var(--color-primary);
        }
      }
    }
  }

  .divider {
    background-color: $color-gray-9;
    height: 1px;
    width: 100%;

    &:last-child {
      background-color: none;
    }
  }
}
