@use "sass:color";
@import "../variables";

:root.dark,
.dark *:after,
.dark *:before {
  --color-white: #{$color-white};
  --color-primary: #{$color-blue};
  --color-secondary: #{$color-orange};
  --color-prism-background: #131311;
  // --color-prism-base: #{$color-white};
  // --color-prism-base: #e9e9dd;
  // --color-prism-base: #e0cada;
  // --color-prism-base: #d78a74;
  // --color-prism-base: #f5ebb8;
  // --color-prism-base: #cae0d0;
  --color-prism-base: #c7e3cf;
  --color-prism-punctuation: #ffcb8b;
  --color-prism-keyword: #c792ea;
  --color-prism-function: #82AAFF;
  --color-prism-operator: #7fdbca;
  --color-prism-string: #ffcb8b;
  --color-prism-tag: #a5d6ff;
  --color-typographic-base-font: #{$color-white};
  --color-typographic-link-p-font: #{$color-blue};
  --color-typographic-link-s-font: #{$color-orange};
  --color-page-border: #{$color-dark-cloud};
  --color-page-background: #{$color-dark};
  --color-sidebar-border: #{$color-dark-cloud};
  --color-sidebar-border-fade: #{$color-dark};
  --color-contacts-border: #{$color-dark-cloud};
  --color-button-border: #{$color-dark-cloud};
  --color-button-color: #{$color-white};
  --color-theme-switcher: #{$color-white-cloud};
  --color-theme-switcher-hover: #{$color-blue};
}
