@use "sass:color";
@import "../variables";

:root.dark,
.dark *:after,
.dark *:before {
  --color-white: #{$color-white};
  --color-primary1: #{$color-green1};
  --color-primary2: #{$color-green2};
  --color-secondary: #{$color-orange};
  --color-prism-background: #131311;
  --color-prism-text-background: #323432;
  // --color-prism-base: #c7e3cf; 
  --color-prism-base: #c3f7e8;
  --color-prism-punctuation: #ffcb8b;
  --color-prism-keyword: #c792ea;
  --color-prism-function: #82AAFF;
  --color-prism-operator: #7fdbca;
  --color-prism-string: #ffcb8b;
  --color-prism-tag: #a5d6ff;
  --color-typographic-base-font: #{$color-white};
  --color-typographic-link-p-font: #{$color-green1};
  --color-typographic-link-s-font: #{$color-orange};
  --color-page-border: #{$color-dark-cloud};
  --color-page-background: #{$color-dark};
  --color-sidebar-border: #{$color-dark-cloud};
  --color-sidebar-border-fade: #{$color-dark};
  --color-contacts-border: #{$color-dark-cloud};
  --color-button-border: #{$color-dark-cloud};
  --color-button-color: #{$color-white};
  --color-theme-switcher: #{$color-white-cloud};
  --color-theme-switcher-hover: #{$color-blue};
}
