@use "sass:color";
@import "../variables";

:root,
:after,
:before {
  --color-white: #{$color-white};
  --color-primary1: #{$color-green3};
  --color-primary2: #{$color-green4};
  --color-secondary: #{$color-orange};
  --color-prism-background: #f4f4f3;
  --color-prism-text-background: #f4f4f3;
  // --color-prism-base: #bc5454;
  --color-prism-base: #ef5350;
  --color-prism-punctuation: #{$color-gray-4};
  --color-prism-keyword: #994cc3;
  --color-prism-function: #4876d6;
  --color-prism-operator: #0c969b;
  --color-prism-string: #{$color-gray-4};
  --color-prism-tag: #ec5f67;
  --color-typographic-base-font: #{$color-dark};
  --color-typographic-link-p-font: #{$color-green3};
  --color-typographic-link-s-font: #{$color-orange};
  --color-page-border: #{$color-white-cloud};
  --color-page-background: #{$color-white};
  --color-sidebar-border: #{$color-white-cloud};
  --color-sidebar-border-fade: #{$color-white};
  --color-contacts-border: #{$color-white-cloud};
  --color-button-border: #{$color-white-cloud};
  --color-button-color: #{$color-dark};
  --color-theme-switcher: #{$color-dark-cloud};
  --color-theme-switcher-hover: #{$color-blue};
}
