@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.contacts {
  @include margin-bottom(1);

  .list {
    display: flex;
    gap: 4px;
    list-style: none;
    @include padding-equal(0);

    .item {
      align-content: center;
      align-items: center;
      border-radius: 12px;
      display: flex;
      height: $button-height;
      justify-content: center;
      line-height: $button-height;
      text-align: center;
      width: $button-height;
      @include padding-equal(0);

      &:hover,
      &:focus {
        background-color: var(--color-hover-background);
      }

      &:nth-child(3n + 1) {
        @include margin-left(0);
      }

      .link {
        border: 0;
        color: var(--color-typographic-base-font);
        cursor: pointer;
        display: flex;
      }

    }
  }
}
