@import "src/assets/scss/variables";
@import "src/assets/scss/mixins";

.post {
  .content {
    @include margin-auto();
    padding-top: 40px;
  }

  .footer {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .comments {
    max-width: $layout-post-width;
    @include padding(0, 0.5);
    @include margin-auto();
  }

  .buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    @include margin(1, 0, 0, 0);

    .buttonArticles {
      display: flex;
      align-items: center;
      gap: 4px;
      border-radius: 12px;
      // border: none;
      @include margin(0, 0.5, 0, 0);
      // width: 20px;
      // height: 20px;
      img {
        width: 22px;
        height: 22px;
        background-color: $color-gray-6;
        border-radius: 8px;
      }

      &:hover,
      &:focus {
        background-color: #f4f4f3;
      }
    }
  }
}

@include breakpoint-md {
  .post {
    .footer {
      @include padding-equal(0);
    }

    .comments {
      @include padding-equal(0);
    }

    .buttons {
      left: 30px;
      max-width: none;
      position: fixed;
      top: 30px;
      @include margin(0, 0.5, 0, 0);
    }
  }
}
